{% extends 'base2.html' %}
{% block content %}
    <h2 class="card-title">Group権限設定</h2>
    <br/>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        <br/>
    {% endif %}
    {% if group %}
        <div class="card">
            <div class="card-header">
                ID: {{ group.id }} 作成日: {{ group.created_at }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ group.name }}</h5>
                <br/>
                <div class="container">
                    <div>
                        <a class="btn btn-primary btn-sm" href="{% url 'permission_group' group.id %}">権限設定</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% if group.is_active %}<span class="badge bg-primary">有効</span>
                {% else %}<span class="badge bg-danger">無効</span>{% endif %}
                {% if administrator %}<span class="badge bg-success">管理者権限</span>{% endif %}
                <span class="badge bg-secondary">Service: {{ group.service_set.count }}</span>
            </div>
        </div>
        <br/>
        <br/>
        {% if permission %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">作成日</th>
                    <th scope="col">User</th>
                    <th scope="col">Group</th>
                    <th scope="col">Option</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for e in permission %}
                    <tr>
                        <th scope="row">{{ e.id }}</th>
                        <td>{{ e.created_at }}</td>
                        <td>{{ e.user.id }}: {{ e.user.username }}</td>
                        <td>{{ e.group.id }}: {{ e.group.name }}</td>
                        <td>
                            {% if e.is_admin %}
                                <span class="badge bg-success">管理者権限</span>
                            {% else %}
                                <span class="badge bg-primary">ユーザ権限</span>
                            {% endif %}
                            {% if e.enable_ldap %}
                                <span class="badge bg-success">LDAP有効</span>
                            {% elif e.ldap_register %}
                                <span class="badge bg-danger">LDAP無効</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if administrator %}
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="text" value={{ e.id }} name="id" hidden>
                                    {% if e.is_admin and e.user.id != request.user.id %}
                                        <button type="submit" class="btn btn-primary btn-sm" name="no_admin">ユーザ権限に変更
                                        </button>
                                    {% elif e.is_admin %}
                                        ユーザ権限に変更出来ません
                                    {% else %}
                                        <button type="submit" class="btn btn-primary btn-sm" name="admin">管理者権限に変更
                                        </button>
                                    {% endif %}
                                </form>
                            {% else %}
                                権限がありません
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if not administrator %}
            <p>管理者権限がないため、権限設定を変更出来ません。</p>
        {% endif %}
    {% else %}
        <p><b>本グループIDは閲覧できません</b></p>
    {% endif %}
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'get_groups' %}" role="button"
       aria-expanded="false">グループ一覧に戻る</a>
{% endblock content %}
