{% extends 'base2.html' %}
{% block content %}
    <h2 class="card-title">会費</h2>
    <br/>
    {% if administrator and group.is_charge and group.stripe_customer_id and not group.stripe_subscription_id %}
        {% for one_data in data %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ one_data.name }}</h3>
                    <br/>
                    <form method="post">
                        {% csrf_token %}
                        <div class="row  mb-3 text-center">
                            {% for price in one_data.prices %}
                                <div class="col">
                                    <div class="card mb-4 rounded-3 shadow-sm">
                                        <div class="card-header py-3">
                                            <h4 class="my-0 fw-normal">{{ price.interval }}</h4>
                                        </div>
                                        <div class="card-body">
                                            <h1 class="card-title pricing-card-title">{{ price.amount }}円<small
                                                    class="text-muted fw-light">/{{ price.interval }}</small>
                                            </h1>
                                            <ul class="list-unstyled mt-3 mb-4">
                                                <li>{{ price.description }}</li>
                                            </ul>

                                            <button type="submit" name="price_id" value="{{ price.id }}"
                                                    class="w-100 btn btn-lg btn-outline-primary">会費支払い
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
            <br/>
        {% endfor %}
        <br/>
    {% else %}
        <p><b>寄付済み又はエラーです</b></p>
    {% endif %}
    <br/>
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'get_groups' %}" role="button" aria-expanded="false">ホームへ戻る</a>
{% endblock content %}
