[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.*"
attrs = "==24.*"
autobahn = "==24.*"
automat = "==24.*"
certifi = "==2024.*"
cffi = "==1.*"
channels = "==4.1.0"
charset-normalizer = "==3.*"
constantly = "==23.10.4"
cryptography = "==43.*"
daphne = "==4.1.2"
django = "==5.1.*"
django-auth-ldap = "==4.*"
django-countries = "==7.*"
django-debug-toolbar = "==4.*"
django-qrcode = "==0.3"
django-widget-tweaks = "==1.5.0"
hyperlink = "==21.0.0"
idna = "==3.*"
incremental = "==24.*"
markdown = "==3.*"
mysqlclient = "==2.*"
pyasn1 = "==0.6.0"
pyasn1-modules = "==0.4.0"
pycparser = "==2.22"
pyopenssl = "==24.*"
pyotp = "==2.9.0"
pypng = "==0.20220715.0"
python-ldap = "==3.*"
pytz = "==2024.*"
qrcode = "==7.*"
requests = "==2.*"
service-identity = "==24.*"
six = "==1.*"
slack-sdk = "==3.*"
sqlparse = "==0.*"
stripe = "==10.*"
twisted = "==24.*"
txaio = "==23.*"
typing-extensions = "==4.*"
urllib3 = "==2.*"
"zope.interface" = "==7.*"

[dev-packages]
ruff = "*"
ruff-lsp = "*"

[requires]
python_version = "3.12"
