asgiref==3.8.1
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
certifi==2024.2.2
cffi==1.16.0
channels==4.1.0
charset-normalizer==3.3.2
constantly==23.10.4
cryptography==42.0.5
daphne==4.1.2
Django==5.0.4
django-auth-ldap==4.8.0
django-countries==7.6.1
django-debug-toolbar==4.3.0
django-qrcode==0.3
django-widget-tweaks==1.5.0
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
Markdown==3.6
mysqlclient==2.2.4
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pyOpenSSL==24.1.0
pyotp==2.9.0
pypng==0.20220715.0
python-ldap==3.4.4
pytz==2024.1
qrcode==7.4.2
requests==2.31.0
service-identity==24.1.0
six==1.16.0
slack-sdk==3.27.1
sqlparse==0.5.0
stripe==9.5.0
Twisted==24.7.0
txaio==23.1.1
typing_extensions==4.11.0
urllib3==2.2.1
zope.interface==6.3
