{% extends 'base2.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="container py-4 mb-auto">
        <div class="h-900 p-2 rounded-3">
          <h2 class="card-title">Donation System</h2>
          <br/>
          <h3><b>こちらは寄付システムです。</b></h3>
          <p><b>会費の支払いシステムとは異なりますのでご注意ください。「グループ一覧」ボタンから「支払い情報」でご確認いただけます。</b></p>
          <a href="{% url 'custom_auth_group:index' %}" type="button"
             class="btn btn-sm btn-primary">グループ一覧</a>
          <br/>
          <br/>
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">寄附一覧(One-time)</h3>
              <br/>
              <form method="post">
                {% csrf_token %}
                <input type="text" value="False" name="is_subscription" hidden>
                <div class="row mb-3 text-center">
                  {% for price in prices %}
                    {% if not price.recurring.interval %}
                      <div class="col-sm-4 mb-2 mb-sm-0">
                        <div class="card mb-4 rounded-3 shadow-sm">
                          <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">one-time</h4>
                          </div>
                          <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ price.unit_amount }} {{ price.currency }}<small
                                class="text-muted fw-light">/one-time</small>
                            </h1>
                            <button type="submit"
                                    name="checkout"
                                    value="{{ price.id }}"
                                    class="w-100 btn btn-lg btn-outline-primary">
                              会費支払い
                            </button>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </form>
            </div>
          </div>
          <br/>
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">寄附一覧(定期払い)</h3>
              <p>
                <b>寄附の定期支払いをキャンセルする場合は、「支払い履歴・情報・プラン変更」より可能です。</b>
              </p>
              <br/>
              <form method="post">
                {% csrf_token %}
                <div class="row mb-3 text-center">
                  {% for price in prices %}
                    {% if price.recurring.interval %}
                      <div class="col-sm-4 mb-2 mb-sm-0">
                        <div class="card mb-4 rounded-3 shadow-sm">
                          <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ price.recurring.interval }}</h4>
                          </div>
                          <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ price.unit_amount }} {{ price.currency }}<small
                                class="text-muted fw-light">/{{ price.recurring.interval }}</small>
                            </h1>
                            <button type="submit"
                                    name="checkout"
                                    value="{{ price.id }}"
                                    class="w-100 btn btn-lg btn-outline-primary">
                              会費支払い{% if price.recurring.interval %}
                              (定期払){% endif %}
                            </button>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </form>
            </div>
          </div>
          <br/>
          <form method="post">
            {% csrf_token %}
            <p><b>支払い履歴やプラン変更などはこちらから確認可能です</b></p>
            <button type="submit" class="btn btn-primary btn-sm"
                    name="billing_portal">支払い履歴・情報・プラン変更
            </button>
            <p>履歴はサブスクリプション情報のみとなります。(stripeの仕様のため）</p>
          </form>
          <br/>
          <p>
            ご不明な場合などがありましたら、Supportチャットにてご連絡のほどお願いいたします。</p>
          <br/>
          <br/>
          <a class="btn btn-primary"
             href="{% url 'custom_auth_group:index' %}" role="button"
             aria-expanded="false">ホームへ戻る</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
