{% extends 'base2.html' %}
{% block extrahead %}
  <style>

      .chat-card {
          background: #fff;
          transition: .5s;
          border: 0;
          margin-bottom: 30px;
          border-radius: .55rem;
          position: relative;
          width: 100%;
          box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
      }

      .chat-app .people-list {
          width: 280px;
          position: absolute;
          left: 0;
          top: 0;
          padding: 20px;
          z-index: 7
      }


      .chat .chat-header {
          padding: 15px 20px;
          border-bottom: 2px solid #f4f7f6
      }

      .chat .chat-header img {
          float: left;
          border-radius: 40px;
          width: 40px
      }

      .chat .chat-header .chat-about {
          float: left;
          padding-left: 10px
      }

      .chat .chat-history {
          padding: 20px;
          border-bottom: 2px solid #fff
      }

      .chat .chat-history ul {
          padding: 0
      }

      .chat .chat-history ul li {
          list-style: none;
          margin-bottom: 30px
      }

      .chat .chat-history ul li:last-child {
          margin-bottom: 0px
      }

      .chat .chat-history .message-data {
          margin-bottom: 15px
      }

      .chat .chat-history .message-data img {
          border-radius: 40px;
          width: 40px
      }

      .chat .chat-history .message-data-time {
          color: #434651;
          padding-left: 6px
      }

      .chat .chat-history .message {
          color: #444;
          padding: 10px 20px;
          line-height: 20px;
          font-size: 16px;
          border-radius: 7px;
          display: inline-block;
          position: relative
      }

      .chat .chat-history .message:after {
          bottom: 100%;
          left: 7%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #fff;
          border-width: 10px;
          margin-left: -10px
      }

      .chat .chat-history .my-message {
          background: #efefef
      }

      .chat .chat-history .my-message:after {
          bottom: 100%;
          left: 30px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #efefef;
          border-width: 10px;
          margin-left: -10px
      }

      .chat .chat-history .other-message {
          background: #e8f1f3;
          text-align: right
      }

      .chat .chat-history .other-message:after {
          border-bottom-color: #e8f1f3;
          left: 93%
      }

      .chat .chat-message {
          padding: 20px
      }

      .float-right {
          float: right
      }

      .clearfix:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0
      }

      @media only screen and (max-width: 767px) {
          .chat-app .people-list {
              height: 465px;
              width: 100%;
              overflow-x: auto;
              background: #fff;
              left: -400px;
              display: none
          }

          .chat-app .people-list.open {
              left: 0
          }

          .chat-app .chat {
              margin: 0
          }

          .chat-app .chat .chat-header {
              border-radius: 0.55rem 0.55rem 0 0
          }

          .chat-app .chat-history {
              height: 300px;
              overflow-x: auto
          }
      }

      @media only screen and (min-width: 768px) and (max-width: 992px) {
          .chat-app .chat-list {
              height: 650px;
              overflow-x: auto
          }

          .chat-app .chat-history {
              height: 600px;
              overflow-x: auto
          }
      }

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
          .chat-app .chat-list {
              height: 480px;
              overflow-x: auto
          }

          .chat-app .chat-history {
              height: calc(100vh - 350px);
              overflow-x: auto
          }
      }
  </style>
{% endblock extrahead %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="container py-4 mb-auto">
        <div class="h-900 p-2 rounded-3">
          <h2 class="card-title">チャット</h2>
          <br/>
          <div class="card" style="max-width: 50rem">
            <div class="card-header">
              <div class="row g-0">
                <div class="col-sm-6 col-md-10"> ID: {{ ticket.id }}
                  作成日: {{ ticket.created_at }} 　　
                </div>
                <div class="col-6 col-md-2">
                  {% if ticket.group %}
                    <span
                        class="badge bg-secondary">グループチャット ({{ ticket.group.id }}: {{ ticket.group.name }})</span> {% else %}
                    <span class="badge bg-secondary">ユーザチャット</span>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ ticket.title }}</h5>
              {% autoescape off %}
                {{ ticket.body | linebreaks }}
              {% endautoescape %}
              {% if ticket.is_solved %}
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm"
                          name="no_solved">未解決
                  </button>
                </form>
              {% else %}
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary btn-sm"
                          name="solved">解決済み
                  </button>
                </form>
              {% endif %}
            </div>
            <div class="card-footer">
              {% if ticket.is_solved %}
                <span class="badge bg-primary">解決済み</span>
              {% else %}
                <span class="badge bg-danger">未解決</span>{% endif %}
              {% if ticket.is_approve %}
                <span class="badge bg-success">承認済み</span>{% endif %}
              {% if ticket.is_reject %}
                <span class="badge bg-warning">拒否済み</span>{% endif %}
            </div>
          </div>
          <br/>
          <div class="container">
            <div class="row clearfix">
              <div class="chat-card chat-app">
                <div class="chat">
                  <div class="chat-header clearfix">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="chat-about">
                          <h6 class="m-b-0">{{ user.username }}</h6>
                        </div>
                        <div class="text-end">
                          <div id="status"><span
                              class="badge bg-danger">WebSocket切断済み</span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="chat-history">
                    <ul class="m-b-0">
                      {% for chat in chats %}
                        <li class="clearfix">
                          {% if request.user == chat.user and not chat.is_admin %}
                            <div class="message-data text-end">
                              <span
                                  class="message-data-time">({% time_to_str chat.created_at %})</span>
                              あなた
                            </div>
                            <div
                                class="message other-message float-right"> {{ chat.body | linebreaks }}</div>
                          {% else %}
                            <div class="message-data">
                              {% if chat.is_admin %}
                                <span class="badge bg-primary">管理者</span>
                              {% else %}
                                {{ chat.user }}
                              {% endif %}
                              <span
                                  class="message-data-time">({% time_to_str chat.created_at %})</span>
                            </div>
                            <div
                                class="message my-message">{{ chat.body | linebreaks }}</div>
                          {% endif %}
                        </li>
                      {% endfor %}
                      <div id="chat_websocket"></div>
                    </ul>
                  </div>
                  <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                      <div class="col-12">
                                <textarea id="text" name="text" class="form-control"
                                          rows="5"
                                          placeholder="Enter text here..."></textarea>
                        <button type="submit"
                                class="btn btn-primary btn-block"
                                form="message-form"
                                onclick="send()"
                        >Send
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script>
    let chatSocket = undefined;

    function send() {
      const message = document.getElementById("text").value;
      console.log(message)
      if (chatSocket && message) {
        chatSocket.send(JSON.stringify({
          message: message
        }))
        document.getElementById("text").textContent = ""
      }
    }

    function escapeHTML(str) {
      return str.replace(/[&<>"']/g, function (match) {
        const escape = {
          '&': '&amp;',
          '<': '&lt;',
          '>': '&gt;',
          '"': '&quot;',
          "'": '&#39;'
        };
        return escape[match];
      });
    }

    function connect() {
      const wsScheme = (window.location.protocol === 'https:' ? 'wss' : 'ws');
      const hostname = window.location.host;
      console.log(wsScheme)
      console.log(hostname)
      const url = `${wsScheme}://${hostname}/ws/ticket/{{ticket.id}}/chat`;
      chatSocket = new WebSocket(url)

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data);
        let element = document.getElementById('chat_websocket');

        let message = escapeHTML(data.message).replace(/\n/g, '<br>');

        let html = '<li class="clearfix">';
        if (data.username === '{{ request.user.username }}' && !data.is_admin) {
          html += '<div class="message-data text-end">';
          html += '<span class="message-data-time">(' + data.time + ')</span> あなた'
          html += '</div>';
          html += '<div class="message other-message float-right">' + message + '</div>'
        } else {
          html += '<div class="message-data">';
          if (data.is_admin) {
            html += '<span class="badge bg-primary">管理者</span>';
          } else {
            html += data.username;
          }
          html += '<span class="message-data-time">(' + data.time + ')</span>';
          html += '</div>';
          html += '<div class="message my-message">' + message + '</div>';
        }
        html += '</li>';
        element.insertAdjacentHTML('beforebegin', html);
      };

      chatSocket.onopen = function (e) {
        console.log("open")
        document.getElementById('status').innerHTML = '<span class="badge bg-success">WebSocket接続中</span>'
      }

      chatSocket.onclose = function (e) {
        document.getElementById('status').innerHTML = '<span class="badge bg-danger">WebSocket切断済み</span>'
        console.error('Chat socket closed unexpectedly');
        setTimeout(() => {
          connect();
        }, 3000);
      };
    };
    connect()


  </script>
{% endblock javascript %}